html {
  position: relative;
  min-height: 100%;
  padding-bottom: 160px;
}
body {
  background-color: #dcd7c9;
  margin-bottom: 160px;
  height: 1000vh;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 160px;
}
h1 {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #2c3930;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 10px;
}
.bottom-container {
  background-color: #2c3930;
  color: #dcd7c9;
}
.footer-link {
  font-size: 1.5rem;
  text-decoration: none;
  color: #a27b5c;
  border: 2px solid;
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 5px;
}
.footer-link:hover {
  background-color: #dcd7c9;
  color: #2c3930;
  border: 2px solid;
  border-radius: 15px;
}
.containerDiv {
  position: fixed;
  left: 50%;
  top: 20%;
  transform: translate(-50%);
}
