html {
  position: relative;
  min-height: 100%;
  padding-bottom: 160px;
}
body {
  background-color: #dcd7c9;
  margin-bottom: 160px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 160px;
}
.container {
  background-color: #f6ded8;
  color: #b82132;
}
.container h1 {
  color: #b82132;
  text-shadow: 4px 4px 6px rgba(66, 68, 90, 1);
  font-weight: bolder;
}
.modak-regular {
  font-family: "Modak", serif;
  font-weight: 400;
  font-style: normal;
}
.delius-swash-caps-regular {
  font-family: "Delius Swash Caps", serif;
  font-weight: 400;
  font-style: normal;
}
a {
  text-decoration: none;
}
.bottom-container {
  background-color: #2c3930;
  color: #dcd7c9;
  width: 100%;
  height: 100px;
}
.footer-link {
  font-size: 1.5rem;
  text-decoration: none;
  color: #a27b5c;
  border: 2px solid;
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 5px;
}
.footer-link:hover {
  background-color: #dcd7c9;
  color: #2c3930;
  border: 2px solid;
  border-radius: 15px;
}
