.antiquewhitebackground {
  background-color: rgba(250, 235, 215, 0.625);
}
.nodots {
  list-style-type: none;
}
.cyanblue {
  background-color: rgba(224, 255, 255, 0.59);
}
.container {
  color: rgb(115, 38, 38);
}
.text-brown {
  color: rgb(115, 38, 38);
}
.text-smaller {
  font-size: smaller;
}
